.place-order {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
  }
  
  .place-order-left {
    width: 100%;
    max-width: min(500px, 30%);
  }
  
  .place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  .place-order-left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline-color: #6f4e37;
    font-size: 16px;
  }
  .place-order-left .multi-fields{
    display: flex;
    gap: 10px;
  }
  .place-order-right {
    width: 100%;
    max-width: min(40%, 500px);
  }
  .place-order .cart-total button{
    margin-top: 30px;
  }